<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Product List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Card of Porducts -->
  <ion-list>
    <div>
      <ion-item *ngFor="let card of cards; let i = index" lines="none"
        [color]="getIdFromListToDelete(card.eancode) ? 'light' : 'default'" (click)="toggleSelection(card.eancode)">
        <ion-thumbnail slot="start">
          <img alt="Product" [src]="card.thumbnail" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ card.name }}</h2>
        </ion-label>
        <ion-label>
          <h3>{{ card.quantity }}</h3>
        </ion-label>
        <ion-fab vertical="top" horizontal="end" style="margin-top: 2.0625em;">
          <ion-fab-button id="removeQte{{i}}" size="small" color="danger" [disabled]="card.quantity===0">
            <ion-icon name="remove-sharp" (click)="removeQuantity(card)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 2.0625em;">
          <ion-fab-button size="small" color="success">
            <ion-icon name="add-sharp" (click)="addQuantity(card)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </div>
  </ion-list>
  <pub-page></pub-page>

  <!-- Scan button  -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon [name]="!deleteMode ? 'add-outline' : 'checkmark-outline'" (click)="scan()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Delete button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start" (click)="togleDeleteMode()">
    <ion-fab-button color="danger">
      <ion-icon [name]="!deleteMode ? 'trash-outline' : 'close-outline'"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>