<ion-content color="secondary" [fullscreen]="true">
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Product List
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <ion-card *ngFor="let card of cards">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-thumbnail slot="start">
            <img alt="Product Image" [src]="card.thumbnail" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ card.name }}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>