<ion-content color="light" [fullscreen]="true">
  <!-- c:/Users/Aelion/devspace/ionic-onwstock-frontend/src/app/tab2/tab2.page.html -->
  <ion-card>
    <ion-header>
      <ion-toolbar>
        <ion-title>
          Product List
        </ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-card>

  <!-- Card of Porducts -->
    <ion-list>
      <ion-item *ngFor="let card of productcard; let i = index">
        <ion-thumbnail slot="start">
          <img alt="Product" [src]="card.thumbnail" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ card.name }}</h2>
        </ion-label>
        <ion-label>
          <h3>{{ card.quantity }}</h3>
        </ion-label>
        <ion-fab vertical="top" horizontal="end" style="margin-top: 2.0625em;">
          <ion-fab-button id="removeQte{{i}}" size="small" color="danger" [disabled]="card.quantity===0">
            <ion-icon name="remove-sharp" (click)="removeQuantity(card, i)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 2.0625em;">
          <ion-fab-button size="small" color="success">
            <ion-icon name="add-sharp" (click)="addQuantity(card, i)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </ion-list>

  <!-- Pub HTML -->
  <pub-page></pub-page>

  <!-- Scan button  -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add-outline" (click)="scan()"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- Delete button -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>