.product_card0 {
    ion-card {
        height: auto;
    }

    ion-card-header {
        text-align: left;
    }

    img {
        width: 50%;
        float: left;
        margin-right: 10px;
    }

    ion-card-content {
        text-align: left;
        padding-top: 0.5em;
    }
}