form {
    width: 20em;

    mat-form-field {
        width: 100%;
    }
}

ion-title {
    text-align: center;
}

ion-content {
    margin: 0;
}

ion-header {
    border-radius: 10px;
}

form {
    width: 100%;
}

ion-text {
    font-size: 0.8em;
}

.h-full {
    height: 100%;
}