.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    top: 0%
}

ion-modal {
    position: fixed;
    height: 150px;
    top: 35%;
    --width: 80%;
}

.modal-list {
    padding: 0% 10px 0% 10px;
}

h3 {
    font-size: 3.5em;
    margin-left: 0.85em;
    margin-top: 0.15em;
}

ion-footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-blend-mode: color;
    border: none;
}