<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="toolbar">
      <ion-title>
        Panier
      </ion-title>
      <ion-button (click)="validateBasket()">
        <ion-icon name="checkmark-outline" style="color: white" size="large"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngIf="hasProduct">
    <ion-list>
      <ion-item *ngFor="let product of products; let i = index" lines="none">
        <ion-thumbnail slot="start">
          <img alt="Product" [src]="product.thumbnail" />
        </ion-thumbnail>
        <ion-label>
          <h2>{{ product.name }}</h2>
        </ion-label>
        <ion-label>
          <h3>{{ product.quantity }}</h3>
        </ion-label>
        <ion-fab vertical="top" horizontal="end" style="margin-top: 2.0625em;">
          <ion-fab-button id="removeQte{{i}}" size="small" color="danger">
            <ion-icon name="remove-sharp" (click)="removeQuantity(product)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
        <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 2.0625em;">
          <ion-fab-button size="small" color="success">
            <ion-icon name="add-sharp" (click)="addQuantity(product)"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-item>
    </ion-list>
  </ng-container>


  <!-- Pannel button footer-->
  <!-- Scan button -->

  <ion-footer>
    <ion-button (click)="cancel()">Vide le panier</ion-button>
    <ng-container>
      <ion-fab-button (click)="modalOpen()" *ngIf="isAvailable">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="getBarcode()">
        <ion-icon name="Scan"></ion-icon>
      </ion-fab-button>
    </ng-container>
  </ion-footer>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-content>
        <ion-toolbar>
          <div class="toolbar">
            <ion-title>Scan</ion-title>
            <ion-fab-button size="small" (click)="modalClose()">X</ion-fab-button>
          </div>
        </ion-toolbar>
        <ion-list class="modal-list">
          <ion-item>
            <!-- Add by code -->
            <ion-input type="text" [counter]="true" maxlength="13" placeholder="Enter barcode"
              fill="outline" [value]="eanByCode" [(ngModel)]="eanByCode" required >
            </ion-input>
            <ion-button (click)="byCode()">OK</ion-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>