ion-footer {
    text-align: center;
    position: fixed;
    bottom: 0%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    background-blend-mode: color;
    border: none;
}

.vertical-center {
    align-items: center;
    height: inherit;
    display: flex;
}

ion-item {
    &:hover {
        background-color: hsl(230, 60%, 96%);
        cursor: pointer;
    }
}

ion-list {
    list-style-type: disc;
}